:root {
  --background-color: #f9f6f0;
  --headline-color: #1c1c1c;
  --ancher-color: #b59b5a;
  --border-color: #d8cdb3;
  --subtext-color: #6b6b6b;
}

body {
  margin: 0;
  font-size: 4rem;
  text-align: center;
  background-color: white;
}

.wrapper {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

.section {
  padding: 1rem;
  flex-grow: grow;
}

/*NAVIGATION - NAVIGATION - NAVIGATION - NAVIGATION*/
nav {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  background-color: white;
  margin: 0rem;
}

nav ul {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
  font-size: 2rem;
  margin: 0rem;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 20px;
}

nav a:hover {
  background-color: rgb(217, 217, 217);
}

/*MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN*/
main {
  grid-area: main;
  background-image: url(Pictures/backgroundjapan.jpeg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

main h1 {
  font-size: 3rem;

  text-align: left;
  padding-left: 1rem;
  max-width: 100%;
  overflow-wrap: break-word;
}

main p {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 1rem;
  max-width: 90%;
}

/* INTROTEXT - INTROTEXT - INTROTEXT - INTROTEXT */
.introtext img {
  width: 45%;
  height: auto;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.introtext {
  width: 30%;
  max-width: 30%;
  box-sizing: border-box;

  text-align: left;
  margin: 3rem;
  margin-top: 5rem;
  background-color: white;

  border-style: groove;
  border-radius: 5px;
}

.introtext a {
  text-decoration: none;
  font-family: sans-serif;
  font-style: italic;
  color: white;
  background-color: rgb(179, 151, 70);
  padding: 0.67rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  border-radius: 2rem;
  font-size: 1.1rem;
}

.introtext ul {
  padding: 0.67rem;
  margin: 0rem;
  list-style: none;
}

/* FOOTER - FOOTER - FOOTER - FOOTER -- ik ai btw*/
footer {
  grid-area: footer;
  /*display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;*/
  background-color: var(--background-color);
}

.foot-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 2rem;
  border-bottom: 1px solid var(--border-color);
}

.footer-section:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.logo-section {
  text-align: left;
  padding-left: 0.67rem;
}

.logo-section > img {
  width: 2.367rem;
}

footer h1 {
  font-size: 1.8rem;
  text-align: left;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0.67rem;
  margin: 0;
  color: var(--headline-color);
}

footer h2 {
  font-size: 1.4rem;
  text-align: left;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0.67rem;
  padding-left: 1.45rem;
  margin: 0;
  color: var(--headline-color);
}

footer h3 {
  color: var(--subtext-color);
  font-size: 0.867rem;
  font-weight: 500;
  margin: 1.67rem;
}

footer p {
  font-size: 1rem;
  text-align: left;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0.67rem;
  margin: 0;
  color: var(--subtext-color);
}

footer ul {
  list-style: none;
  text-decoration: none;
  text-align: left;
  padding: 0.67rem;
  padding-left: 1.45rem;
  margin: 0;
  color: var(--subtext-color);
}

footer li {
  display: grid;
  font-size: 1rem;
  margin-bottom: 0.6767rem;
}

.logo {
  padding-left: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

#email {
  background-image: url(Pictures/email2.png);
}

#location {
  background-image: url(Pictures/location2.png);
}

#phone {
  background-image: url(Pictures/phone2.png);
}

#youtube {
  background-image: url(Pictures/youtube2.png);
}

#facebook {
  background-image: url(Pictures/facebook2.png);
}

#github {
  background-image: url(Pictures/github2.png);
}

#spotify {
  background-image: url(Pictures/spotify2.png);
}

footer a {
  text-decoration: none;
  color: var(--ancher-color);
  font-family: sans-serif;
  font-weight: 500;
}

/* Adjust for UNDER 1000 pixels */
@media (max-width: 1000px) {
  .introtext {
    width: 80%;
    max-width: 50%;
    margin: auto;
  }

  .introtext img {
    width: 70%;
    max-width: 90%;
    display: block;
    margin: auto;
    float: none;
  }

  .introtext h1 {
    font-size: 2rem;
    text-align: center;
  }

  nav ul {
    justify-content: center;
  }
}
