:root {
  --background-color: #f9f6f0;
  --headline-color: #1c1c1c;
  --ancher-color: #b59b5a;
  --border-color: #d8cdb3;
  --subtext-color: #6b6b6b;
}

body {
  margin: 0;
  font-size: 4rem;
  text-align: center;
  background-color: white;
}

.wrapper {
  display: grid;
  grid-template: 1fr;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.active {
  text-decoration: underline;
  text-decoration-color: var(--ancher-color);
}

header {
  grid-area: header;
}

/*NAVIGATION - NAVIGATION - NAVIGATION - NAVIGATION*/
nav {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  background-color: white;
  margin: 0rem;
  border-bottom: 1px solid var(--border-color);
}

nav ul {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
  font-size: 2rem;
  margin: 0rem;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 20px;
}

nav a:hover {
  background-color: rgb(217, 217, 217);
}

/*MAIN - MAIN - MAIN - MAIN - MAIN - MAIN - MAIN*/
main {
  grid-area: main;
}

.section {
  padding: 1rem;
  flex-grow: grow;
  background-image: url(Pictures/backgroundjapan.jpeg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.section h1 {
  font-size: 3rem;
  text-align: left;
  padding-left: 1rem;
  max-width: 100%;
  overflow-wrap: break-word;
}

.section p {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 1rem;
  max-width: 90%;
}

/* INTROTEXT - INTROTEXT - INTROTEXT - INTROTEXT */
.introtext img {
  width: 45%;
  height: auto;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.introtext {
  /*width: 30%;*/
  max-width: 30%;
  box-sizing: border-box;
  overflow: auto;

  text-align: left;
  margin: 3rem;
  margin-top: 5rem;
  background-color: white;

  border-style: groove;
  border-radius: 5px;
}

.introtext a {
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  color: var(--ancher-color);
  background-color: white;
  border: 1px solid#b59b5a;

  padding: 0.67rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;

  border-radius: 2rem;
  font-size: 1rem;
}

.introtext a:hover {
  background-color: #b59b5a;
  color: white;
}

.introtext ul {
  padding: 0.67rem;
  margin: 0rem;
  list-style: none;
}

/* FOOTER - FOOTER - FOOTER - FOOTER -- ik ai btw*/
footer {
  grid-area: footer;
  /*display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;*/
  background-color: var(--background-color);
}

.foot-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding-bottom: 2rem;
  margin: 2rem;
  border-bottom: 1px solid var(--border-color);
}

.footer-section:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.logo-section {
  text-align: left;
  padding-left: 0.67rem;
}

.logo-section > img {
  width: 2.367rem;
}

footer h1 {
  font-size: 1.8rem;
  text-align: left;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0.67rem;
  margin: 0;
  color: var(--headline-color);
}

footer h2 {
  font-size: 1.4rem;
  text-align: left;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0.67rem;
  padding-left: 1.45rem;
  margin: 0;
  color: var(--headline-color);
}

footer h3 {
  color: var(--subtext-color);
  font-size: 0.867rem;
  font-weight: 500;
  margin: 1.67rem;
}

footer p {
  font-size: 1rem;
  text-align: left;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 0.67rem;
  margin: 0;
  color: var(--subtext-color);
}

footer ul {
  list-style: none;
  text-decoration: none;
  text-align: left;
  padding: 0.67rem;
  padding-left: 1.45rem;
  margin: 0;
  color: var(--subtext-color);
}

footer li {
  display: grid;
  font-size: 1rem;
  margin-bottom: 0.6767rem;
}

.logo {
  padding-left: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

#email {
  background-image: url(Pictures/email2.png);
}

#location {
  background-image: url(Pictures/location2.png);
}

#phone {
  background-image: url(Pictures/phone2.png);
}

#youtube {
  background-image: url(Pictures/youtube2.png);
}

#facebook {
  background-image: url(Pictures/facebook2.png);
}

#github {
  background-image: url(Pictures/github2.png);
}

#spotify {
  background-image: url(Pictures/spotify2.png);
}

footer a {
  text-decoration: none;
  color: var(--ancher-color);
  font-family: sans-serif;
  font-weight: 500;
}

/*Portofolio - Portofolio - Portofolio - Portofolio*/
.grow {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: grow;
}

#projekt-title {
  font-size: 3.67rem;
  margin: 0;
  margin-top: 2rem;
}

#projekt-rubrik {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
  color: var(--subtext-color);
}

.project-text h3 {
  font-size: 0.67rem;
  font-weight: normal;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b59b5a;
}

.project-text h2 {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.project-text p {
  font-size: 1rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.4rem;
  margin: 4rem;
  overflow: auto;
  padding: 3rem;
}

.project img {
  width: 90%;
  height: 380px;
  display: block;
  object-fit: cover;
}

#desktop {
  object-position: center;
}

#smol-line {
  width: 64px;
  height: 2px;
  background: var(--ancher-color);
  margin-top: 0.867rem;
  margin-bottom: 0.867rem;
  padding: 0;
}

.project-text {
  position: relative;
  background: white;
  margin: -6rem 0 0 1.67rem;
  padding: 24px;
  text-align: left;
  border-top: 2px solid var(--ancher-color);
  /*Box shadow fundet online*/
  /*box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;*/

  box-shadow:
    rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/*About - About - About - About - About - About*/
#about-intro {
  padding: 20px 120px 80px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 5rem;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: 95vh;
}

section {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--headline-color);
}

section h1 {
  font-size: 6rem;
  margin: 0;
}

section h3 {
  margin: 0;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--ancher-color);
  font-weight: normal;
}

section p {
  font-size: 1.5rem;
  margin: 0.8rem;
  margin-left: 0;
}

.oplysninger h2 {
  font-size: 2.67rem;
  margin: 0;
  line-height: 1;
}

.oplysninger p {
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: var(--subtext-color);
}

#oplysning-container {
  display: flex;
  gap: 3rem;
  padding-top: 25px;
  margin-top: 40px;
  border-top: 1px solid var(--border-color);
  box-sizing: border-box;
}

.oplysninger {
  text-align: left;
  margin: 0;
}

#portræt {
  display: flex;
  max-width: 90%;
  align-items: center;
  justify-content: center;
}

/*Media Queries - Media Queries - Media Queries*/

@media (width>1400px) {
  .section {
    height: 92vh;
  }
  .introtext img {
    max-width: 38%;
  }
}

/* Adjust for UNDER 1000 pixels */
@media (max-width: 1000px) {
  .introtext {
    width: 80%;
    max-width: 50%;
    margin: auto;
    text-align: center;
  }

  .introtext img {
    width: 70%;
    max-width: 90%;
    display: block;
    margin: auto;
    float: none;
  }

  .introtext h1 {
    font-size: 2rem;
    text-align: center;
    padding-left: 0;
  }

  .introtext ul {
    text-align: center;
  }

  nav ul {
    justify-content: center;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .foot-container {
    grid-template-columns: 2fr 1fr;
    gap: 0rem;
  }

  /* removes my earlier border-right on each foot-section except last */
  .footer-section:not(:last-child) {
    border-right: none;
  }

  .footer-section:nth-child(odd) {
    border-right: 1px solid var(--border-color);
  }

  .footer-section:nth-child(1),
  .footer-section:nth-child(2) {
    border-bottom: 1px solid var(--border-color);
  }

  .introtext {
    max-width: 67.67%;
  }
}

@media (max-width: 520px) {
  nav ul {
    font-size: 1.5rem;
  }

  .introtext h1 {
    font-size: 1.67rem;
  }

  .project-container {
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  #projekt-title {
    font-size: 2.3rem;
  }

  #projekt-rubrik {
    max-width: 75%;
  }
}

@media (max-width: 400px) {
  .introtext {
    width: auto;
    max-width: 85%;
  }

  .foot-container {
    grid-template-columns: 1fr;
    gap: 0rem;
  }

  .footer-section:nth-child(odd) {
    border-right: none;
  }

  .footer-section:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
}
